* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}
body.loading:before {
	content: "LOADING";
	display: block;
	background-color: black;
	color: white;
	font-size: 60px;
	letter-spacing: .1em;
	text-align: center;
}
code, kbd {
	display: inline-block;
	padding: 1px 3px;
	background-color: #eee;
	outline: solid 1px #e7e7e7;
}

#patterns {
	width: 100%;
	height: 380px;
}

.message.saved {
	color: green;
}
form:not(.saved) .message.saved {
	display: none;
}

#form-test #msg-test-result {
	opacity: 0.35;
}
#form-test.result #msg-test-result {
	opacity: 1.0;
}
#form-test:not(.result) #msg-test-result {
	transition: opacity 1000ms linear;
}
